/*
!.gitignore
!openclaw.json
!skills/
skills/mcporter
!extensions/
extensions/**/dist
extensions/**/node_modules
extensions/**/*.sqlite
extensions/**/logs
extensions/**/scripts
!workspace/
workspace/*
!workspace/skills
!workspace/AGENTS.md
!workspace/IDENTITY.md
!workspace/USER.md
!workspace-*/
workspace-*/*
!workspace-*/skills
!workspace-*/AGENTS.md
!workspace-*/IDENTITY.md
!workspace-*/USER.md
